@import '../../styles/settings.scss';

.component {
  border: none;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  background-color: $color-filters;
  color: $color-primary;
  border-radius: $radius;
  cursor: pointer;

  &:active {
    background-color: $color-primary;
    color: white;
    transition: $transition-active;
  }
}

@media only screen and (min-width: 900px) {
  .component {
    margin-top: 0;
    margin-right: 0;
  }
}

@media (hover: hover) {
  .component:hover {
    background-color: $color-primary;
    color: white;
    transition: $transition-hover;
  }
}