$color-primary: hsl(180, 29%, 50%);
$color-primary-opaque: hsl(180, 29%, 50%, 0.5);
$color-background: hsl(180, 52%, 96%);
$color-filters: hsl(180, 31%, 95%);
$color-dark: hsl(180, 8%, 52%);
$color-dark-opaque: hsla(180, 8%, 52%, 0.45);
$color-darker: hsl(180, 14%, 20%);

$font-family: 'League Spartan', sans-serif;
$font-size: 16px;

$radius: 4px;

$transition-animation: all 0.15s ease-in-out;
$transition-hover: all 0.1s ease-in-out;
$transition-active: all 0.1s ease-in;