@import '../../styles/settings.scss';

.component {
  background-color: white;
  border-radius: $radius;
  padding: 20px;
  box-shadow: 0px 6px 24px -14px $color-primary;
}

.featured {
  @extend .component;
  border-left: 5px solid $color-primary;
}

@media only screen and (min-width: 800px) {
  .component {
    padding: 20px 40px;
  }
}