@import '../../styles/settings.scss';

.chip {
  display: inline-block;
  padding: 5px 8px;
  border-radius: 12px;
  font-size: 14px;
  letter-spacing: 0.15px;
  margin-left: 8px;
  color: white;
}

.new {
  @extend .chip;
  background-color: $color-primary;
}

.featured {
  @extend .chip;
  background-color: $color-darker;
}