@import '../../styles/settings.scss';

.component {
  margin-bottom: 56px;
}

.wrapper {
  width: 100%;
  display: inline-flex;
}

.filtersWrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.clearFiltersWrapper {
  flex: 0;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .component {
    margin-bottom: 40px;
  }
}