@import '../../styles/settings.scss';

.component {

}

.wrapper {
  width: 100%;
  display: inline-flex;
}

.filtersWrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filter {
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  background-color: $color-filters;
  color: $color-primary;
  border-radius: $radius;
  overflow: hidden;

  p {
    margin: auto 8px;
  }
}

.removeButton {
  border: none;
  background-color: $color-primary;
  height: 32px;
  width: 32px;
  position: relative;
  cursor: pointer;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.clearFiltersWrapper {
  flex: 0;
  display: flex;
  align-items: center;
}

.clearFiltersButton {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: $color-dark;
  margin-left: 16px;
  cursor: pointer;
}

@media (hover: hover) {
  .clearFiltersButton:hover {
    color: $color-primary;
    text-decoration: underline;
  }

  .removeButton:hover {
    background-color: $color-darker;
  }
}