@import '../../styles/settings.scss';

.component {
  margin-top: -36px;
  transition: $transition-hover;
  opacity: 0;
}

.component_active {
  @extend .component;
  opacity: 1;
}

.wrapper {
  width: 100%;
  display: inline-flex;
}

.filtersWrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.clearFiltersWrapper {
  flex: 0;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .component {
    margin-bottom: -35px;
  }
}