@import '../../styles/settings.scss';

.component {
  margin-bottom: 40px;
}

.wrapper {
  display: grid; 
  grid-auto-columns: auto;
  grid-auto-rows: 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 20px;
}

.summaryWrapper {
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid $color-dark-opaque;
}

.companyLogo {
  position: absolute;
  top: -44px;
  width: 48px;
  height: 48px;

  img {
    height: 100%;
    width: 100%;
  }
}

.keywords {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 550px) {
  .summaryWrapper {
    position: static;
    padding: 0 0 8px 0;
    display: inline-flex;
    align-items: center;
  }

  .companyLogo {
    position: static;
    width: 88px;
    height: 88px;
  }
}

@media only screen and (min-width: 900px) {
  .component {
    margin-bottom: 20px;
  }

  .wrapper {
    grid-auto-columns: auto; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
  }

  .summaryWrapper {
    position: static;
    padding: 8px 0;
    border-bottom: none;
  }

  .keywords {
    margin-bottom: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
}